
<h4>管理员列表</h4>
<table class="table ">
    <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>Email</td>
        <td colspan="2">operate</td>
    </tr>
    {% for item in data%}
      <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.user }}</td>
          <td>{{ item.email }}</td>
          <td><button  class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal">edit</button></td>
          <td><button type="button" class="btn btn-primary btn-sm">delete</button></td>
      </tr>
    {% endfor %}
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加新用户</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="span5"></div>
<div class="pagination">
  <ul>
      {% if data.has_previous %}
       <li> <a  href="javascript:void(0)"  onclick=p_to({{ data.previous_page_number }})> <<  </a> </li>
      {% endif %}
      <li><a href="#"> {{ data.number }} of {{ data.paginator.num_pages }} </a></li>
      {% if data.has_next %}
      <li> <a href="javascript:void(0)"  onclick=p_to({{ data.next_page_number }}) > >> </a></li>
      {% endif %}
  </ul>
</div>
<script type="application/javascript">
    function p_to(p_num){
        $('#div_1').empty().load("user_list?page="+p_num);
    }
    $('#myModal').modal(options);
    $('#myModal').on('shown.bs.modal', function () {
         $('#myInput').focus()
    });
</script>